

#wrapper{
  height: 800px;
  width: 1000px;
  background-color: lightblue;
margin-left: auto;
margin-right: auto;
}

header{
  width: 1000px;
  height: 120px;
background-image: image("Hörn.png");
  background-repeat: no-repeat;



#center{
  display:flex;
}
main{  width: 800px;
      height: 400px;
      background-color: white;}

aside{  width: 100px;
    height: 400px;
    background-color: lightgreen;}

footer{
  height: 200px;
  width: 1000px;
  background-color: lightblue;

}


/*---------länkar-------- */

a{

  color: black;
font-family: fantasy;
font-size: 20px
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
